    <link href="/assets/freelancer.css" rel="stylesheet">
</head>
<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Random-Event-Generator</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a href="#">Donate</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <form  method="POST">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <input id="round" type="submit" value="SURPRISE &#x00A; ME" />
                </div>
            </div>
        </div>
    </header>

    <!-- Parameters -->
    <div class="parameter">
            <div class="container">
                <div class="para">
                    <div class="row">
                        <div class="location">
                            <div class="col-md-4">
                                <div>
                                <h2>Location</h2>
                                <input type="text" name="postcode" id="postcode" placeholder="Postcode" required="">
                                </div>
                            </div>
                        </div>
                        <div class="budget">
                            <div class="col-md-4">
                                <h2>Budget</h2>
                                <input type="text" name="budget" id="budget" placeholder="Amount" required="">
                            </div>
                        </div>
                        <div class="checklist">
                            <div class="col-md-4">
                                <h2>Checklist</h2>
                                <p><input type="checkbox" id="test1"><label for="test1"><span class="ui"></span>Sports</label></p>
                                <p><input type="checkbox" id="test2"><label for="test2"><span class="ui"></span>Food</label></p>
                                <p><input type="checkbox" id="test3"><label for="test3"><span class="ui"></span>Alcohol</label></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</form>

 

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-12">
                        <h3>About Random-Event-Generator</h3>
                        <p>Random-Event-Generator is a free-to-use web app designed to help you get to know your community and cure boredom at the same time</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright © Random-Event-Generator 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    

    <!-- jQuery -->
    <script src="./home_real_files/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./home_real_files/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="./home_real_files/jquery.easing.min.js"></script>
    <script src="./home_real_files/classie.js"></script>
    <script src="./home_real_files/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="./home_real_files/jqBootstrapValidation.js"></script>
    <script src="./home_real_files/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="./home_real_files/freelancer.js"></script>




</body>